*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green{
    background-color: #009688;
    height: 150px;
}

#app{
    width: 1200px;
    margin: auto;
    
    display: flex;
    height: 800px;
    margin-top: 2rem;
    
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:linear-gradient(#009688  10%,#d9dbd3 10%);
    height: 100vh;
}

aside{
    width: 400px;
    height: 800px;
    background-color: white;
    border-right:1px solid #eaeaea;
}


.dflex{
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.between{
    justify-content: space-between;
    align-items: center;

}

div > i{
    padding-right: .8rem;
    color: #b1b1b1;
}

img{
    width: 45px;
    border-radius: 50%;
    margin: .6rem;
}

.notify{
    background-color: #8edafc;
}

.bg-gray{
    background-color: #eaeaea;
    
}

#bell{
    background-color: white;
    padding: .6rem;
    border-radius: 50%;
    margin: .5rem;
    color: #8edafc;
}


button{
    border: none;
    height: 30px;
    border-radius: .25rem 0rem 0rem .25rem;
    padding: .5rem;
    color: #eaeaea;
    background-color: white;
    margin-left: .33rem;
}

input{
    border: none;
    width: 90%;
    height: 30px;
    border-radius: 0rem .25rem .25rem 0rem;
    margin: .3rem 0;
}

.contactContainer{
    background-color: white;
}

li:hover{
    background-color: #eaeaea;
}


.list-item{
    border-top:1px solid #eaeaea;
}

.msgContainer{
    width: 800px;    
}

header{
    background-color: #eaeaea;
    
}

.msgwrapper{
    height: calc(759px - 64px);
    background-image: url(../img/mine.jpg);
    padding: 4rem;
}

.dflex-column{
    display: flex;
    flex-direction: column;
}
.sent{
    background-color:#d5f9ba;
    padding: .6rem;
    margin: .33rem;
    border-radius: .5rem;
    align-self: flex-end;
}

.received{
    background-color:#ffffff;
    padding: .6rem;
    margin: .33rem;
    border-radius: .5rem;
    align-self: flex-start;
}

.msgContainer > div > input{
    justify-content: center;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    
}

.msgContainer i {
    padding-left: .8rem;
}