<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fontawesome 6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <aside>
            <header class="dflex between">
                <div class="dflex">
                    <img src="./img/avatar_5.jpg" alt="userPic">
                    <h3>Marco</h3>
                </div>
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <section class="notify dflex">
                <span id="bell"><i class="fa-solid fa-bell-slash"></i></span>
                <span>
                    <h4>Ricevi notifiche di nuovi messagi</h4>
                    <p>Attiva notifiche desktop</p>
                </span>
            </section>
            <section class="bg-gray dflex">
                <button><i class="fa-solid fa-magnifying-glass"></i> </button>
                <input type="search" name="find contacts" placeholder="cerca o inizia una nuova chat" @keyup.enter="searchAddress" v-model="searchUs"> 
            </section>
            <section class="contactContainer">
                <ul class="friend-list">
                    <li class="list-item dflex" v-for="(item, index) in contacts" :key="index" @click="focusContact(index)">
                        <template v-if=" item.name.toLowerCase().includes(this.searchUs) ">
                            <img :src="`${item.avatar}.jpg`"/>
                            <h4>{{ item.name }}</h4>
                        </template>
                    </li>
                </ul>
            </section>
        </aside>
        <main>
        <section class="msgContainer">
                <header class="dflex between">
                    <div class="dflex">
                        <img src="`${contact[activeChat].avatar}.jpg`" alt="userPic"> 
                        <h3>{{contacts[activeChat].name}}</h3>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <div class="msgwrapper dflex-column">
                    <div v-for="(element, index) in getMessages()" :key="index" :class="element.status">
                        <p>
                            {{ element.message }}
                        </p>
                    </div>
                </div>
                <div class="bg-gray dflex">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" name="search" placeholder="cerca o inizia una nuova chat" v-model="newInputContent" @keyup.enter="sendNewMessage(newInputContent)"> 
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </section>
        </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>